
.displaycard {
  transition: all 0.4s ease-in-out;
}

.displaycard:hover {
  transform: scale(1.1);
}


@media only screen and (max-width: 770px) {
  .displaycard {
    margin: 2% 0 !important;
  }
}
