.blobby-div{
	display:  flex;
	align-content:  center;
	align-items:  center;
	justify-content: center;
	width :300px;
	height: 300px;
	background-color: var(--primary-color);
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	/* box-shadow: 15px 15px 50px rgba(0,0,0,0.2); */
	animation: morphing 10s infinite;
	overflow :hidden;
}


	@keyframes morphing {
		0% {
			border-radius : 30% 70% 70% 30% / 30% 30% 70% 70%;
			/* box-shadow  :15px 15px 50px rgba(0,0,0,0.2); */
		}
		25% { 
			border-radius : 58% 42% 75% 25% / 76% 46% 54% 24%;
		}
		50% {
			border-radius : 50% 50% 33% 67% / 55% 27% 73% 45%;
			/* box-shadow : -10px -5px 50px rgba(0,0,0,0.2); */
		}
		75% {
			border-radius : 33% 67% 58% 42% / 63% 68% 32% 37%;
		}
	}


.text-blob{
    animation: borderline 10s infinite;
}
/* 
@keyframes borderline {

    0%{
        border
    }
    
} */