@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;

  @media (max-width: 800px) {
    body::-webkit-scrollbar {
      width: 2px;
    }
  }
}

.btn {
  width: 95px;
  height: 35px;
  border-radius: 10px;
}
.round-btn {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.transition {
  transition: all 0.1s ease-in-out;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--tertiary);
}

body::-webkit-scrollbar-thumb {
  border: 1px solid var(--primary);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
    inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}
body::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
  background: transparent;
}
body::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.15);
}

body::-webkit-scrollbar-button {
  height: 60px;
  width: 10px;
}

.rotate-icon {
  transform: rotate(246deg);
  animation: rotate 3s infinite;
}
/* .rotate-icon:active::after{
animation: rotate 3s normal;

} */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
